<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
			</nav>
			<main >
			{{content}}
			</main><!-- /.container -->
			<footer>
			<ul>
				<li><a href="mailto:gabrielkigundu@gmail.com">email</a></li>
				<li><a href="https://github.com/gkigundu	">github.com/gkigundu</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
