<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="content">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</div>
			</nav>
			<main >
				<div class="content">
				{{content}}
				</div>
			</main><!-- /.container -->
			<footer>
				<div class"content">
					<ul>
						<li><a href="mailto:gabrielkigundu@gmail.com">email</a></li>
						<li><a href="https://github.com/gkigundu	">github.com/gkigundu</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>
